body {
    font-family: Chalkduster, fantasy;
    font-weight: 300;
    line-height: 1.6em;
    font-size: 1.3em;
    background-color: rgba(0, 0, 255, 0.3);
    color: blue;
    text-shadow: 2px 2px pink;
  }
  
  a {
    color: black;
  }
  
  input {
    font-size: 2em;
  }
  
  .container {
    width: 960px;
    margin: auto;
    margin-top: 50px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .delete-note-link {
    color: red;
  }
  
  #editable {
    border: 1px solid black;
    padding: 20px;
  }
  
  #notes-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
  }

  .submit{color:blue;background:#ffffa0;}

  button {
    font-size: .99em;
    color: rgb(207, 140, 202);
    background-color:blue;
    border-radius: 10px;
  }

  button.release {
    float: right;
    background-color: #E1332D;
  }